<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.ulima.edu.pe/sites/default/files/styles/webp/public/main_page/banner/banner-web_1799x900_vf.jpg.webp?itok=KXpvyEuk" class="d-block w-100" alt="Primera imagen">
    </div>
    <div class="carousel-item">
      <img src="https://www.ulima.edu.pe/sites/default/files/styles/webp/public/main_page/banner/banner_escolares_1799x900_2_002.jpg.webp?itok=64ovCDPm" class="d-block w-100" alt="Segunda imagen">
    </div>
    <div class="carousel-item">
      <img src="https://www.ulima.edu.pe/sites/default/files/styles/webp/public/main_page/banner/banner-web_1800x900_4.jpg.webp?itok=AJMOeNAj" class="d-block w-100" alt="Tercera imagen">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<h2>Bienvenido a la página de inicio</h2>
<p>Contenido dinámico cargado con jQuery.</p>